body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #d0e0f4;
}

.container {
  width: 450px;
  margin: 60px auto;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Heading */

h1 {
  text-align: center;
  color: #010631;
  margin-bottom: 25px;
}

/* Input Section */

.input-section {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

/* Input */

input {
  flex: 1;
  padding: 12px;
  border: 2px solid #dcdcdc;
  border-radius: 8px;
  font-size: 20px;
  outline: none;
  transition: 0.3s;
}

input:focus {
  border-color: #4a90e2;
}

/* General Button */

button {
  padding: 12px 18px;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

/* Add Button */

.add-button {
  background-color: #4a90e2;
}

.add-button:hover {
  background-color: #022242;
}

/* Complete Button */

.button-complete {
  background-color: #26961e;
}

.button-complete:hover {
  background-color: #14590f;
}

/* Delete Button */

.delete-button {
  background-color: #ff4d4d;
}

.delete-button:hover {
  background-color: #d93636;
}

/* Task List */

ul {
  list-style: none;
  padding: 0;
}

/* Task Item */

li {
  background: #f9f9f9;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 18px;
}

/* Button Group */

.button-group {
  display: flex;
  gap: 10px;
}